


<div  class="navbar-purple" >
    <div style="background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);" class="">
        <center>
        <div class="row">
            <div class="col">
                <img src="./img/microinformatico.png"  class="img-fluid pb-3" style="width: 10rem;" alt="">
                <h2  class="card-title ml-1 pb-3">
                   <b style="color: white">Sistemas Microinformatica </b>
                </h2>
                <h3>Recursos Humanos.</h3>
            </div>
        </div>
    </center>
    </div>
    
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="row" id="">
        <div class="col">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Acerca de</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="nav-link" href="/">Pago de recibo</a>
        </li>
        <br>
        <br>
        <li class="nav-item">
          <a class="nav-link" href="/">Contactos</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
