
<div class="card bg-danger">
    <div  class="card-body">
        <p class="card-text">
            Compañia de Luz @derechos reservados 2023- Almogabar Vazquez Yarlen. 
        </p>
    </div>
</div>