<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de entrada</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
 <div class="container">
<div class="row">
    <div class="col">
        <%-include('partials/encabezado.html');%>
    </div>
    </div>
    <br>
    
    <div class="row">
    <div class="col">


       <div class="form">
    <form action="/" method="post" class="">
        <div class="form-p">
            <label for="numContrato" class="form-label">Numero de Contrato:</label>
            <div class="col">
            <input type="number" class="form-control" id="numContrato" name="numContrato"  required>
            </div>
        </div>
        <div class="form-p">
        <label for="nombre" class="form-label">Nombre:</label>    
        <div class="col">
        <input type="text" class="form-control" id="nombre" name="nombre"  required>
         </div>
        </div>
            
        </div>
        <div class="form-p">
        <label for="domicilio" class="form-label">Domicilio:</label>
        <div class="col">
        <input type="text" class="form-control" id="domicilio" name="domicilio"  required>
        </div>
        </div>

        <div class="form-p">
        <label for="tipo" class="form-label">Nivel de estudios:</label>
        <div class="col">
        <select name="tipo" id="tipo" class="form-control">
            <option value="1">Licenciatura</option>
            <option value="2">Maestria</option>
            <option value="3">Doctorado</option>
        </select>
        </div>
        </div>

        <div class="form-p">
        <label for="PagoD" class="form-label">Pago diario base:</label>
        <div class="col">
        <input type="number" class="form-control" id="pagoDiario" name="pagoDiario"  required>
        </div>
        </div>

        <div class="form-p">
        <label for="DiasT" class="form-label">Dias Trabajados:</label>
        <div class="col">
        <input type="number" class="form-control" id="DiasT" name="DiasT" required>
        </div>
        </div>


        </div>

        <hr>
        <div class="row">
        <div class="col m-2">
        <button type="submit" style="background-color: pink;" type="button" class="btn btn-outline-secondary">Enviar</button>
        <button type="reset" style="background-color: pink;" class="limpiar btn btn-outline-secondary" id="limpiar" onclick="limpiar()">Limpiar</button>
        </div>
        </div>


    </form>
    

    </div> 
    </div>
    <div style="background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);" style="margin:auto" class="card bg-danger">
        <div class="card-body">
            <p style="text-align:center" class="card-text">
                Sistemas Microinformatica ©derechos reservados 2023- Almogabar Vazquez Yarlen. 
            </p>
        </div>
    </div>
    
  



 </div>
                







    </div>
</body>
</html>